body{
	background-color:white;
}


header{
	margin-top:-0.9%;
	margin-left:-0.9%;
	width:101.8%;
}

#main{
	margin-left: 24.75%;
	width: 39.5%;
	border-color: green;
	border-width: 5px;
	border-style: solid;
}

aside{
	float:right;
	margin-right:24.75%;
	width:10%;
	border-color: green;
	border-width: 5px;
	border-style: solid;
}

footer{
	margin: auto;
	width: 50%;
	margin-top:1%;
	border-color: green;
	border-width: 5px;
	border-style: solid;
}

    ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
	
	.ausnahme{
		margin-left:15%;
	}
	
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 100%; 
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	
    }
    ul li ul.dropdown li{
        display: block;
    }